WSReferences/ПолучитьОтчет/Ext/WSDefinition.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="GR"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="GR"
		name="GenerateReps"
		targetNamespace="GR">
	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
				xmlns:xs1="GR"
				targetNamespace="GR"
				elementFormDefault="qualified">
			<xs:element name="CreateReport">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateReportResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="CreateReportRequestMessage">
		<part name="parameters"
				element="tns:CreateReport"/>
	</message>
	<message name="CreateReportResponseMessage">
		<part name="parameters"
				element="tns:CreateReportResponse"/>
	</message>
	<portType name="GenerateRepsPortType">
		<operation name="CreateReport">
			<input name="CreateReportRequest"
					message="tns:CreateReportRequestMessage"/>
			<output name="CreateReportResponse"
					message="tns:CreateReportResponseMessage"/>
		</operation>
	</portType>
	<binding name="GenerateRepsSoapBinding"
			type="tns:GenerateRepsPortType">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="CreateReport">
			<soapbind:operation style="document"
					soapAction="GR#GenerateReps:CreateReport"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="GenerateRepsSoap12Binding"
			type="tns:GenerateRepsPortType">
		<soap12bind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="CreateReport">
			<soap12bind:operation style="document"
					soapAction="GR#GenerateReps:CreateReport"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="GenerateReps">
		<port name="GenerateRepsSoap"
				binding="tns:GenerateRepsSoapBinding">
			<documentation> 
				<wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
						conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
			<soapbind:address location="http://192.168.10.61/CRMTest/ws/ws2.1cws"/>
		</port>
		<port name="GenerateRepsSoap12"
				binding="tns:GenerateRepsSoap12Binding">
			<soap12bind:address location="http://192.168.10.61/CRMTest/ws/ws2.1cws"/>
		</port>
	</service>
</definitions>